@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P'), local('PressStart2P-Regular'), url(assets/fonts/pressStart2P.woff) format('woff');
}
@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: local('Courgette Regular'), local('Courgette-Regular'), url(assets/fonts/courgette.woff) format('woff');
}
@font-face {
    font-family: 'Creepster';
    font-style: normal;
    font-weight: 400;
    src: local('Creepster'), local('Creepster-Regular'), url(assets/fonts/creepster.woff) format('woff');
}

body, html
{
    margin:0;
    padding: 0;
    overflow:hidden;
    font-family: 'Press Start 2P', cursive;
    font-size:8px;
    background-color:black;
    color:white;
}

#cr-stage
{
    border:2px solid black;
    margin:5px auto;
    zoom: 200%;
    color:white;
    -moz-transform: scale(1.5);
}
#log
{
    position:absolute;
    top:5px;
    left:5px;
}
.css_dialog
{
    display:block;
    font-family: 'Press Start 2P', cursive;
    font-size:8px;
    color:rgb(20,20,20);
}
.css_general
{
    font-family: 'Press Start 2P', cursive;
    font-size:10px;
    color:white;
    display:block;
}